{% extends "base.html.twig" %}

{% block content %}
    <div class="max-w-7xl mx-auto py-10 px-4 sm:px-6 prose">
        <h1>{{ content.title }}</h1>
        {{ content.article|raw }}
    </div>
{% endblock %}
