<ul>
    <li><a href="">Lien du menu</a></li>
    <li><a href="">Lien du menu</a></li>
    <li><a href="">Lien du menu</a></li>
    <li><a href="">Lien du menu</a></li>
    <li><a href="">Lien du menu</a></li>
</ul>