<ul class="flex gap-4 text-white text-sm">
    <li>Copyright {{ 'now'|date('Y') }} {{ project_name }}</li>
    <li><a href="">Mentions légales & politique de confidentialité</a></li>
    <li><a href="">Gestion des cookies</a></li>
</ul>