<form action="{{ path('sulu_search.website_search') }}" method="GET" class="bg-white rounded-full overflow-hidden">
    <input name="q" type="text" placeholder="Search" class="border-none outline-none"/>
    <input type="submit" value="Go"/>
</form>